 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(3,22,81,0.25), rgba(3,22,81,0.25)), url("images/3girVv4.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 0.8;
  letter-spacing: 0px;
  text-shadow: 7px 4px 4px rgba(249,231,155,1);
  margin: 102px auto 0 -8px;
}

.u-section-1 .u-slider-1 {
  min-height: 277px;
  width: 425px;
  margin: 67px 58px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/605e765f6c85e0.53174159.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/89787897-pic905-895x505-57599.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 38px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 9px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 105px auto 0;
}

.u-section-1 .u-image-3 {
  margin-left: 0;
  margin-right: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/377594_c23f1df5_f8e_kriminalnoje_chtivo.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 42px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -42px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 66px auto 0;
}

.u-section-1 .u-image-4 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/33044.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 19px 41px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  width: 241px;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 74px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: -59px;
  position: absolute;
  background-image: none;
  right: auto;
  padding: 15px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -59px;
  padding: 15px;
}

.u-section-1 .u-slider-2 {
  width: 425px;
  min-height: 277px;
  margin: -277px auto 0 58px;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/605e765f6c85e0.53174159-16.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 6rem;
  text-shadow: 2px 3px 4px rgba(241,181,184,1);
  margin: 76px auto 0;
}

.u-section-1 .u-image-6 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/87574.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 16px 50px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 19px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: 47px auto 0;
}

.u-section-1 .u-image-7 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/scale_1200.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -50px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 66px auto 0;
}

.u-section-1 .u-image-8 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/1600401644.685861035.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -50px 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 121px auto 0;
}

.u-section-1 .u-carousel-control-3 {
  width: 49px;
  height: 49px;
  left: -58px;
  position: absolute;
  right: auto;
  background-image: none;
  padding: 15px;
}

.u-section-1 .u-carousel-control-4 {
  width: 49px;
  height: 49px;
  left: auto;
  position: absolute;
  right: -58px;
  background-image: none;
  padding: 15px;
}

.u-section-1 .u-slider-3 {
  min-height: 277px;
  width: 425px;
  margin: 67px 58px 0 auto;
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/605e765f6c85e0.53174159-19.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 42px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 0 26px;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/2018071810375390fd5f5593.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -50px 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 52px auto 0;
}

.u-section-1 .u-image-11 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4023cda6252e6e6846e98133da9aaaa25cbc05c0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-1 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -50px 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 51px auto 0;
}

.u-section-1 .u-image-12 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Screenshot_1-8-1024x563.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-1 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 19px 9px 0 auto;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 85px auto 0;
}

.u-section-1 .u-image-13 {
  margin-left: 0;
  margin-right: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/one-flew-over-the-cuckoos-nest-11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 16px 50px;
}

.u-section-1 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -16px -50px 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 19px auto 0;
}

.u-section-1 .u-carousel-control-5 {
  width: 48px;
  height: 48px;
  left: -57px;
  position: absolute;
  background-image: none;
  right: auto;
  padding: 14px;
}

.u-section-1 .u-carousel-control-6 {
  width: 48px;
  height: 48px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -57px;
  padding: 14px;
}

.u-section-1 .u-slider-4 {
  min-height: 277px;
  width: 425px;
  margin: -277px auto 60px 58px;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/605e765f6c85e0.53174159-22.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-1 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: 69px 18px 0;
}

.u-section-1 .u-image-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/20190214131338291569f306.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -30px -50px 0;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 51px auto 0;
}

.u-section-1 .u-image-16 {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/garri-potter-pashalki.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  width: 308px;
  margin: 47px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 90px auto 0;
}

.u-section-1 .u-image-17 {
  margin-left: 0;
  margin-right: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Jack-Sparrow-wallpaper-pirates-of-the-caribbean-31085953-1804-1200.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-17 {
  padding: 11px 42px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(241,181,184,1);
  margin: -11px -42px 0;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 28px auto 0;
}

.u-section-1 .u-carousel-control-7 {
  width: 50px;
  height: 50px;
  left: -59px;
  position: absolute;
  background-image: none;
  right: auto;
  padding: 15px;
}

.u-section-1 .u-carousel-control-8 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  background-image: none;
  right: -59px;
  padding: 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 19.23%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    animation-duration: 10000ms;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-slider-2 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-btn-6 {
    padding: 14px 35px;
  }

  .u-section-1 .u-slider-3 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-slider-4 {
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-slider-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-slider-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-slider-4 {
    margin-left: 0;
    width: 340px;
  }
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  border-radius: 10px !important;
}

.u-block-null-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-68:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-68:not([data-block-selected]):not([data-cell-selected]).u-block-null-68:not([data-block-selected]):not([data-cell-selected]).u-block-null-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-68:not([data-block-selected]):not([data-cell-selected]).u-block-null-68:not([data-block-selected]):not([data-cell-selected]).u-block-null-68:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-68.u-block-null-68.u-block-null-68.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
}

.u-block-null-113:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-113:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-113:not([data-block-selected]):not([data-cell-selected]).u-block-null-113:not([data-block-selected]):not([data-cell-selected]).u-block-null-113:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-113:not([data-block-selected]):not([data-cell-selected]).u-block-null-113:not([data-block-selected]):not([data-cell-selected]).u-block-null-113:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-113.u-block-null-113.u-block-null-113.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 10px !important;
}

.u-block-null-117:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-117:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-117:not([data-block-selected]):not([data-cell-selected]).u-block-null-117:not([data-block-selected]):not([data-cell-selected]).u-block-null-117:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-117:not([data-block-selected]):not([data-cell-selected]).u-block-null-117:not([data-block-selected]):not([data-cell-selected]).u-block-null-117:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-117.u-block-null-117.u-block-null-117.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-radius: 10px !important;
}

.u-block-null-120:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-120:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-120:not([data-block-selected]):not([data-cell-selected]).u-block-null-120:not([data-block-selected]):not([data-cell-selected]).u-block-null-120:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-120:not([data-block-selected]):not([data-cell-selected]).u-block-null-120:not([data-block-selected]):not([data-cell-selected]).u-block-null-120:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-120.u-block-null-120.u-block-null-120.hover {
  border-radius: 10px !important;
}

.u-block-null-124:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-124:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-124:not([data-block-selected]):not([data-cell-selected]).u-block-null-124:not([data-block-selected]):not([data-cell-selected]).u-block-null-124:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-124:not([data-block-selected]):not([data-cell-selected]).u-block-null-124:not([data-block-selected]):not([data-cell-selected]).u-block-null-124:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-124.u-block-null-124.u-block-null-124.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-12,
.u-section-1 .u-btn-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-12.u-btn-12.u-btn-12:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-12.u-btn-12.u-btn-12:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-12.u-btn-12.u-btn-12.hover {
  border-radius: 10px !important;
}

.u-block-null-128:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-128:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-128:not([data-block-selected]):not([data-cell-selected]).u-block-null-128:not([data-block-selected]):not([data-cell-selected]).u-block-null-128:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-128:not([data-block-selected]):not([data-cell-selected]).u-block-null-128:not([data-block-selected]):not([data-cell-selected]).u-block-null-128:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-128.u-block-null-128.u-block-null-128.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-13,
.u-section-1 .u-btn-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-13.u-btn-13.u-btn-13:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-13.u-btn-13.u-btn-13:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-13.u-btn-13.u-btn-13.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  border-radius: 10px !important;
}

.u-block-null-135:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-135:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-135:not([data-block-selected]):not([data-cell-selected]).u-block-null-135:not([data-block-selected]):not([data-cell-selected]).u-block-null-135:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-135:not([data-block-selected]):not([data-cell-selected]).u-block-null-135:not([data-block-selected]):not([data-cell-selected]).u-block-null-135:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-135.u-block-null-135.u-block-null-135.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-8,
.u-section-1 .u-btn-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8.hover {
  border-radius: 10px !important;
}

.u-block-null-139:not([data-block-selected]):not([data-cell-selected]),
.u-block-null-139:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-null-139:not([data-block-selected]):not([data-cell-selected]).u-block-null-139:not([data-block-selected]):not([data-cell-selected]).u-block-null-139:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: transparent !important;
}

.u-block-null-139:not([data-block-selected]):not([data-cell-selected]).u-block-null-139:not([data-block-selected]):not([data-cell-selected]).u-block-null-139:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
}

.u-block-null-139.u-block-null-139.u-block-null-139.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-10,
.u-section-1 .u-btn-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-10.u-btn-10.u-btn-10.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-9,
.u-section-1 .u-btn-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-9.u-btn-9.u-btn-9:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-9.u-btn-9.u-btn-9:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-9.u-btn-9.u-btn-9.hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-11,
.u-section-1 .u-btn-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-11.u-btn-11.u-btn-11:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-11.u-btn-11.u-btn-11:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-11.u-btn-11.u-btn-11.hover {
  border-radius: 10px !important;
}